{
	"token": "YOUR_BOT_TOKEN_HERE",
	"supportToken": "YOUR_SUPPORT_BOT_TOKEN_HERE",
	"clientId": "YOUR_BOT_CLIENT_ID",
	"guildId": "YOUR_GUILD_ID",
	"ownerId": "YOUR_USER_ID",
	"versao": "0.0.0",
	"changelogEnabled": true,
	"backupChannelId": "",
	"backupIntervalHours": 6,
	"topggWebhookSecret": "YOUR_TOPGG_WEBHOOK_SECRET",
	"changelogMessage": {
		"pt-BR": "",
		"en-US": ""
	}
}
